doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of somthing magical
    p ssfsdfsdfdfsdfsd sdf sdf dsf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfs df sdf dsf sdf sdf 
